.stay{
  position: absolute;
  top:-1%;
  right:0;
  left:0;
  height:100%;
  display: block;
}
.port-grid{
  display:flex;
  flex-wrap:wrap;
  position: relative;
}
/* portfolio language tags wrapper */
.port-tags-wrapper{
  position: relative;
  flex-wrap:wrap;
  text-align:center;
  padding:0;
  display: flex;
  justify-content: center;
}
/* cards */
.card-title{
  bottom:2px;
  position: absolute;
  background-color:#D81E23;
  color:#ffffff;
  text-align: center;
  width:357px;
  font-size: 18px;
  height:28px;
  margin-bottom:3px;
}
.card-img-overlay{
  padding:0; 
}
.card{
  margin-bottom:15px;
  margin-left:0;
  margin-right:0;
  /* width:305px; */
  display:block;
}
/* what happens to the port pics when hovering */
.card:hover .portPic{
  opacity: .5;
}
.card:hover .card-img-overlay{
  display:none;
}