.portPic{
  display:block;
  margin:0 auto; 
  border: 2px solid gray;
  border-radius: 5px;
  max-width: 357px;
  max-height:220px;
  /* need min-width for MS Edge */
  min-width:357px;
}
.modal-xl{
  width:75%;
}
.title{
  font-size: 55px;
  font-family: 'Caveat', cursive;
}
.modalStyling{
  margin-top:25px;
  font-size:18px;
}
.btn:focus{
  text-decoration: none;
}
.btn-primary, .btn-primary:active, .btn-primary:not(:disabled):not(.disabled).active, .btn-primary:not(:disabled):not(.disabled):active, .show>.btn-primary.dropdown-toggle{
  border-color: #9d151a;
  background-color:#9d151a;
}
.btn.focus, .btn:focus {
  outline: 0;
  box-shadow: 0 0 0 0.2rem #9d151a;
}
.btn-primary.focus, .btn-primary:focus {
  box-shadow: 0 0 0 0.2rem #9d151a;
}